@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  
body{
    font-family: 'Oswald', sans-serif;
    background-color:white;

}


  nav {
    height: 5vh;
    font-family: 'Bebas Neue', cursive;
  }
  .nav-links:hover{
      color: white;
  }

  .nav-links {
    display: flex;
    font-size: 1.5rem; ;
    color: #a57c00;
    text-align: center;
    padding: 5px 10px;
    list-style: none;
    width: 10%;
    height: 10%;
    align-items: center;
    margin-right: auto;
   
  }
 
 
  .addbtn{  
    padding: 8px 10px;
    border: 0px;  
    border-radius: 5px;
    min-width: 80px;
    color:#fff;
    font-size:1.1em;
    background-color:#a57c00;
    width: 50px;
    height: 55px;
    
  }
  .bookLink{
    font-size: 1.5rem; ;
    color: #a57c00;
  }
  .img {
    float: left;
    width: 10%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .removebtn{
    padding: 8px 10px;
    border: 0px;  
    border-radius: 5px;
    min-width: 80px;
    color:#fff;
    font-size:1.1em;
    background-color:#a57c00;
    width: 50px;
    height: 55px;
  }
  .searchBar{
    text-align: center;
  }
  .searchBar form{
    width:100%;
    padding-bottom:20px;
    border-bottom:1px solid #dbdbdb;
  }
  
  .searchBar input[type=text]{
    border-radius: 5px;
    padding: 5px 10px;
    color:white;
    font-size:1.3em;
    border:2px solid #9e9e9e;
    width:80%;
    margin-right:5px;
  }
  
  .searchBar input[type=submit]{
    padding: 8px 10px;
    border: 0px;  
    border-radius: 5px;
    min-width: 80px;
    color:#fff;
    font-size:1.1em;
    background-color:#a57c00;
    width: 50px;
    height: 55px;
  }

  .page-link{
    background-color:#a57c00;
    color:#fff;

  }
  .body-name{
    font-size: 2.3rem;
    text-align: center;
    color:#a57c00;
  }
  .title-name{
    font-size: 2.3rem;
    text-align: center;
    color: black;
  }